.text {
  color: #000;
}

.title {
  font-family: "bold";
}

.question {
  font-family: "regular";
}

.buttonPanel {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-family: "bold";
  font-size: 1rem;
  color: #fff;
}

.confirmationButton {
  background-color: #dc2626;
}

.cancelButton {
  background-color: #0284c7;
}
